common_datastore/

query_download_process_data/Caenorhabditis_elegans.WBcel235.cdna.all.fa
query_download_process_data/Caenorhabditis_elegans.WBcel235.cdna.all.index

longevity_prediction/data/datastore/

.git

SAUCIE/scripts/outputs/
