*
!sratoolkit.3.0.0-ubuntu64.tar.gz
!query_download_process_data/
query_download_process_data/download_dir/
query_download_process_data/ready_for_analysis/
#query_download_process_data/sratoolkit.3.0.0-ubuntu64.tar.gz
query_download_process_data/Caenorhabditis_elegans.WBcel235.cdna.all.fa
query_download_process_data/Caenorhabditis_elegans.WBcel235.cdna.all.index
query_download_process_data/SRR1556279.sra
query_download_process_data/SRR1501343.sra
query_download_process_data/SRR1556280.sra
random/
longevity_prediction/
Caenorhabditis_elegans.WBcel235.100.gff3
Caenorhabditis_elegans.WBcel235.100.gtf
lengths.Rdata
ready_for_analysis/
differential_expression_analysis/
.git
common_datastore/
EDA/
SAUCIE/
SAUCIEnew/
paper.pdf
