__pycache__

.idea
.ipynb_checkpoints/
.Rhistory

common_datastore/

differential_expression_analysis/results

EDA/figures/

longevity_prediction/data/datastore/
longevity_prediction/go-basic.obo
longevity_prediction/results/

query_download_process_data/Caenorhabditis_elegans.WBcel235.cdna.all.fa
query_download_process_data/Caenorhabditis_elegans.WBcel235.cdna.all.index
query_download_process_data/genage_genes_metadata.p
query_download_process_data/keywords_metadata.p
query_download_process_data/sratoolkit.3.0.0-ubuntu64.tar.gz
query_download_process_data/ready_for_analysis
                                                          
SAUCIE/getmm_corrected
SAUCIE/scripts/outputs/                                                              
